In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import data

In [2]:
intraday_data = pd.read_csv('Data/5m_SPY')

In [3]:
intraday_data.shape

(4645, 7)

In [4]:
intraday_data.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2021-11-17 09:30:00-05:00,469.000000,469.040009,468.450012,468.519989,468.519989,2523699
1,2021-11-17 09:35:00-05:00,468.529999,468.540009,468.160004,468.320007,468.320007,836314
2,2021-11-17 09:40:00-05:00,468.320007,468.524994,468.160004,468.450012,468.450012,577620
3,2021-11-17 09:45:00-05:00,468.450012,468.640015,468.130005,468.135010,468.135010,865588
4,2021-11-17 09:50:00-05:00,468.135010,468.135010,467.579987,467.670013,467.670013,951646

# Change of time period of n

To start we will calcualte the change over n time period.

We will use: 
$change_n = \dfrac{Close_n - Open_i-n}{Open_i-n}$

Where $i$ is the current period.  So change_0 is the change of the current time period, change_5 is the change starting from 5 periods ago to the current close.

### Lets look at change_0

In [ ]:
intraday_data